body {
}
.main-details-row-mobile{
    display:none;
}

.main-details-row {
    background-color: #95c4cd;
}

.product-title{
    margin-top:7%;
  
    font-size:33px;
    color:white;
    font-weight:600;
}
.product-description{
    color:white;
    font-size:22px;
   
}

.raiting{
    font-size:16px;
}

.raiting, #stars{
    padding:0px !important;
    margin:1% 0 4% 0;
}

.checked {
    color: #f3d35e;
}

.btn-subscribe {
    background-color: #6d77ff;
    border: 2px solid #5b65e8;
    color: white;
    margin-bottom: 3%;
}
.btn-subscribe:hover {
      background-color: #5b65e8;
      color: white;
      border: 2px solid #5B65E8;
      margin-bottom: 3%;
}
.details-bar {
    background-color: #ececec;
    margin-top: -11%;
    border-radius: 10px;
    margin-bottom: 3%;
}

.my-accordion-item{
    font-size:16px;
    font-weight:300;
}
.accordion-button:not(.collapsed) {
    color: #1f6a78;
    background-color: #eaf7f9;
}
#accordion-item{
    margin-top:3% ;
}

.details-bar h5{
    margin-top:8%;
   
}

#accordion {
    margin-top: 5%;
}
@media screen and (max-width: 1580px) and (min-width: 1000px) {
    .details-bar {
        margin-top: -12%;
    }
}

@media screen and (max-width: 999px) and (min-width: 768px) {
    .details-bar {
        margin-top: -17%;
    }

    .product-title {
        margin-top: 20%;
    }
}


@media screen and (max-width: 767px) and (min-width: 300px) {
    .details-bar {
        margin-top: 0%;
    }

    .product-title {
        margin-top: 5%;
    }
    .main-details-row{
        display:none;
    }
    .main-details-row-mobile {
        display: block;
    }
    .product-title {
       color:black;
       font-size:24px;
    }
    .product-description {
        color: black;
        font-size:18px;
    }
    
}