/*#filter-slidebar > li {
    margin-top: 11% !important;
    text-align: center;
}

#search-addon:hover {
    cursor: pointer;
}

.drop-down-buttons {
    margin-top: 5px;
}

#subscription-container {
    text-align: center;
    margin-top: 33%;
}


a:hover {
    cursor: pointer;
}


#ourHolder:hover {
    transform: translate(0, -7px);
}

*/




.lessons-top-navbar {
    padding-top: 57px !important;
}

#lessons-big-title {
    margin-left: 33px;
    margin-top: 11px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #5b65e8;
    border-color: #5b65e8;
}

@media only screen and (min-width: 773px) {
    .lessons-top-nav-filters-buttons {
        margin-left: 33px;
    }

    .lessons-top-grid {
        padding-top: 11px;
    }

    .search-top-input {
        float: right;
        margin-right: 33px;
        width: 100%;
    }

    #lessons-top-search-input {
        width: 60%;
    }

    .search-top-button {
    }

    .main-content {
        margin-top: 3%;
    }
    .left-filter-menu {
        margin-top: 11px;
    }

    .right-filter-menu {
        margin-top: 11px;
    }
}

@media only screen and (max-width: 771px) {
    .main-content {
        margin-top: 15%;
    }

    .lessons-top-nav-filters-buttons {
        padding-bottom: 20%;
    }

    .lessons-top-grid {
        text-align: center;
        padding-top: 20px;
        
    }

    .search-top-input {
        margin-top: 27px;
    }

    .search-top-button {
        margin-top: 27px;
    }

    .left-filter {
        float: left;
    }

    .right-filter {
        float: left;
        margin-left: 5px;
    }

    
}

@media screen and (max-width: 1068px) and (min-width: 992px) {
}