body {
    padding-top: 50px;
    /*   padding-bottom: 20px;*/
    font-family: 'Century Gothic','Arial';
}

.row {
    margin: 0px !important;
    
}
/* Set padding to keep content from hitting the edges */
.body-content {
    /*    padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select,
textarea {
    max-width: 280px;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


/*NavBar Login Register button*/
#registerLink {
    color: #5B65E8; /*purple*/
    font-weight: bold;
}

#loginLink {
    color: #78DACF; /* light green*/
    font-weight: bold;
}
/*-----About------*/
.about-title {
    margin-top: 5%;
}

    .about-title p {
        font-size: 22px;
    }

.about-text h3 {
    font-style: italic;
    text-align: center;
    margin: 10% 0 3% 0;
}

.about-paragraph {
    margin-bottom: 10%;
}

#team-members {
    margin: 10% 0% 10% 0%;
}

    #team-members img {
        border-radius: 50%;
        filter: grayscale(100%);
    }

    #team-members h4 {
        margin-top: 15px;
        font-weight: 600;
        text-align: center;
    }

    #team-members p {
        text-align: center;
    }
/*--------Logo---------*/

.logo {
    font-family: Impact;
    color: #5B65E8 !important;
    font-size: 26px;
    margin-top: 10px;
}
.navbar-collapse{
    margin-top: 10px;
    font-size:16px;
}

/*---Drop down menu button---*/
#dropdownMenuButton {
    background-color: #f8f8f8;
}
#avatar {
    border-radius: 50%;
}
.dropdown-menu ul {
    list-style-type: none;
}
    .dropdown-menu ul li  {
        margin-top:5px;
        margin-bottom:7px;
    }
.dropdown-menu ul li a{
   text-decoration:none;
   color:black;
}
    .dropdown-menu ul li a:hover {
        color: #2fb8a9;
    }

/*-------Index---------*/
a:hover {
    cursor: pointer;
}
.bigImage {
    position: relative;
    display: inline-block;
    padding:0px !important;
}

    .bigImage img {
        width: 100%;
        height: auto;
    }

    .bigImage .text {
        position: absolute;
        z-index: 999;
        left: 10%;
        top: 20%; /* Adjust this value to move the positioned div up and down */
        width: 40%; /* Set the width of the positioned div */
    }

#home-big-title {
    font-weight: bold;
    font-size:35px;
    margin-top: 17%;
}


.grey-row {
    background-color: #F0F0F0; /*light-grey*/
}

.tabs-index li a {
    color: black;
}

    .tabs-index li a:hover {
        color: #2FB8A9;
        background-color: #b9e1dc85;
    }

.img-icon-index {
    width: 22px;
}

.card {
    border: 1px solid #cfcfcf;
    background-color: white;
}
#card-video{
    margin-bottom:3%;
}
#card-ebook {
    margin-bottom: 3%;
}

.card-body {
    padding: 0px 10px 15px 10px;
}

.card-body a {
    font-weight: bold;
    width: 25%;
 }


#card-video iframe {
    width: 100%;
}
#card-video p{
   margin-left:10px;
 
    
}
#quote {
    margin-top: 20%;
    font-size: 45px;
    font-weight: bold;
}

#best-sellers{
    margin-top:8%;
}
#card-ebook img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}
.ourHolder:hover {
    transform: translate(0, -7px);
    
}
.ourHolder{
    margin-bottom:7%;
}
.ebook-card a {
    padding: 7px 15px;
    background-color: #6d77ff;
    color: white;
    border: 2px solid #5B65E8;
    border-radius: 5px;
}
    .ebook-card a:hover {
        color: white;
        background-color: #5B65E8;
        text-decoration:none;
    }
.quote-img {
     padding: 0px;
 }
.card-title {
    color: #5B65E8;
    font-size: 22px;
    font-weight: bold;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.img-icon-tik {
    width: 20px;
}



.card-plan:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 40px 0 rgba(0, 0, 0, 0.19);
}

footer {
    background-color: #292929;
    color: white;
}

.footer-row {
    margin: 40px 0 40px 0;
}

.footer-logo, .footer-text {
    margin-top: 3%;
}

.footer-text p a{
    text-decoration:none ;
    color:white;
}
.footer-text p a:hover {
     color: #78DACF;
}
#social a:hover {
    color: aquamarine !important;
}
#social a img:hover {
    filter: grayscale(64%) brightness(55%) sepia(100%) hue-rotate(128deg) saturate(80%) contrast(1.9);
}
/*------Buttons-------*/
.btn-create {
    background-color: #2FB8A9;
    color: white;
    font-weight: 400;
    border: 0px;
    border-bottom: 3px solid #2FB8A9;
}

    .btn-create:hover {
        background-color: #2FB8A9;
        color: white;
        border-bottom: 3px solid #26978a;
        font-weight: 600;
    }

@media screen and (max-width: 1246px) {
    .bigImage .text {
        top: 4%;

    }

    #quote {
        margin-top: 20%;
        font-size: 30px;
    }
}

@media screen and (max-width: 1068px) and (min-width: 992px) {
    .home-search-bar {
        margin-bottom: 10%;
    }
    #home-big-title{
        margin-top:10%;
    }
    #quote {
        margin-top: 10%;
        font-size: 30px;
    }
}
@media screen and (max-width: 990px) {
    #home-big-title {
        margin-top: 10%;
        font-size:25px;
    }
    .bigImage .text {
        top: 0%;
    }

    #quote {
     
        font-size: 25px;
    }
    .card {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 10px;
    }

    .bigImage .text {
        font-size: 20px;
    }
}


@media screen and (max-width: 768px){
    .bigImage img {
        display: none;
    }

    .home-search-bar {
        margin-bottom: 10%;
    }
    .quote-img img{
        display:none;
    }
    #quote {
        margin-top: 8%;
        margin-bottom:8%;
        font-size: 30px;
        text-align:center;
    }
}

@media screen and (max-width: 1472px) and (min-width: 1247px) {
    #quote {
        margin-top: 25%;
        font-size: 35px;
    }
}