body {
}

.package-card {
    margin-top: 33px;
}

.item {
    border-radius: 11px;
    border-style: solid;
}

    .item:hover {
        transform: translate(0, -11px);
    }

.item-header {
    border-radius: 11px 11px 0 0;
    background-color: darkgrey;
    text-align: center;
    padding: 7px;
}
