@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section fullWidth{
    <div class="row">
        <div class="col-md-4 col-md-offset-2 about-title">
            <h1>About Us</h1>
            <p>
                Coming together is a beginning<br />
                Keeping together is progress<br />
                Working together is succes
            </p>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <img src="~/img/team_1.png" style="width:100%" alt="codeme_team" />
        </div>
    </div>


}
<div class="grey-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 about-text">
                <h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s
                </h3>
            </div>
        </div>
        <din class="row">
            <div class="col-md-6 about-paragraph">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </din>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-8 team-members">
            <img src="~/assets/images/tg.jpg" style="width:100%" class="rounded" alt="...">
            <h4>Theodora Galata</h4>
            <p>FrontEnd Web Developer</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-8 team-members">
            <img src="~/assets/images/tg.jpg" style="width:100%" class="rounded" alt="...">
            <h4>Theodora Galata</h4>
            <p>FrontEnd Web Developer</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-8 team-members">
            <img src="~/assets/images/tg.jpg" style="width:100%" class="rounded" alt="...">
            <h4>Theodora Galata</h4>
            <p>FrontEnd Web Developer</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-8 team-members">
            <img src="~/assets/images/tg.jpg" style="width:100%" class="rounded" alt="...">
            <h4>Theodora Galata</h4>
            <p>FrontEnd Web Developer</p>
        </div>
    </div>

</div>