@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <div class="col-md-3">
        <div style="margin-top: 33%; text-align: center;">
            One Women Way<br />
            Fleming 14<br />
            <abbr title="Phone">P:</abbr>425.555.0100
        </div>
        <div style="margin-top:33%;">
            <strong>Team:</strong>
            <div style="margin-left:7%;">
                <strong>Cordinator - FrontEnd/BackEnd Developer:</strong>&ensp;<a href="https://www.facebook.com/profile.php?id=1539022572"><i><u>Theodwra Galata</u></i></a><br />
                <strong>FrondEnd/BackEnd Developer:</strong>&ensp;<a href="https://www.facebook.com/jim.gasteratos"><i><u>Dimitris Gasteratos</u></i></a><br />
                <strong>FrondEnd/BackEnd Developer:</strong>&ensp;<a href="https://www.facebook.com/ploumis.antonis"><i><u>Adonis Plumis</u></i></a><br />
                <strong>FrondEnd/BackEnd Developer:</strong>&ensp;<a href="https://www.facebook.com/profile.php?id=100013059701658"><i><u>Alexandros Platanios</u></i></a><br />
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.5067193714685!2d23.773858615670797!3d37.825021617039084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1954d6fc743a1%3A0x5fb660bb4c6d4864!2sFlemingk%2014%2C%20Voula%20166%2073!5e0!3m2!1sen!2sgr!4v1640255843082!5m2!1sen!2sgr" 
                style="border:0; height: 73vh; width: 95%; margin:3%;" allowfullscreen="" loading="lazy"></iframe>
    </div>

</div>

