@model CBProject.Models.ViewModels.HomeViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section fullWidth{

    <div class="row">
        <div class="col-md-7 col-sm-7 col-sm-offset-1 col-md-offset-1 col-xs-12 col-xs-offset-1 text">
            <p id="home-big-title">What do you want to learn todaty?</p>
            <br />
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <br />
            <div class="row">
                <div class="col-md-6 col-sm-7 col-xs-8 home-search-bar">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                           aria-describedby="search-addon" />
                </div>
                <div class="col-md-4 ">
                    <button type="button" class="btn btn-search ">Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 bigImage">
            <img src="~/assets/images/home/codeme_bigImg1_index2-half.jpg" class="img-fluid" alt="Responsive image" style="width:100%" >
            </div>
        </div>
}
<div class="grey-row">
    <div class="container">
        <br />
        <h2>User: @ViewBag.User</h2>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h2>Lessons</h2><br />
                <ul class="nav nav-tabs tabs-index">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3 ">
                <div class="card">
                    <img class="card-img-top" style="width:100%" src="~/img/image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4>Angular 9</h4>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icons-person.png" alt="person" /> Programming with mosh </p>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icon-video.png" alt="video" /> 22 hours on-demand video  </p>
                        <br />
                        <a href="#" class="btn btn-card">More</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" style="width:100%" src="~/img/image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4>Angular 9</h4>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icons-person.png" alt="person" /> Programming with mosh </p>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icon-video.png" alt="video" /> 22 hours on-demand video  </p>
                        <br />
                        <a href="#" class="btn btn-card">More</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" style="width:100%" src="~/img/image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4>Angular 9</h4>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icons-person.png" alt="person" /> Programming with mosh </p>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icon-video.png" alt="video" /> 22 hours on-demand video  </p>
                        <br />
                        <a href="#" class="btn btn-card">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" style="width:100%" src="~/img/image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4>Angular 9</h4>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icons-person.png" alt="person" /> Programming with mosh </p>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icon-video.png" alt="video" /> 22 hours on-demand video  </p>
                        <br />
                        <a href="#" class="btn btn-card">More</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" style="width:100%" src="~/img/image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4>Angular 9</h4>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icons-person.png" alt="person" /> Programming with mosh </p>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icon-video.png" alt="video" /> 22 hours on-demand video  </p>
                        <br />
                        <a href="#" class="btn btn-card">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" style="width:100%" src="~/img/image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4>Angular 9</h4>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icons-person.png" alt="person" /> Programming with mosh </p>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icon-video.png" alt="video" /> 22 hours on-demand video  </p>
                        <br />
                        <a href="#" class="btn btn-card">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" style="width:100%" src="~/img/image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4>Angular 9</h4>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icons-person.png" alt="person" /> Programming with mosh </p>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icon-video.png" alt="video" /> 22 hours on-demand video  </p>
                        <br />
                        <a href="#" class="btn btn-card">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" style="width:100%" src="~/img/image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4>Angular 9</h4>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icons-person.png" alt="person" /> Programming with mosh </p>
                        <p class="card-text"><img class="img-icon-index" src="~/img/icon-video.png" alt="video" /> 22 hours on-demand video  </p>
                        <br />
                        <a href="#" class="btn btn-card">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br /><br />
    <br />
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4  order-sm-1 order-first quote-img">
            <img src="~/assets/images/home/codeme_bigImg2_index.jpg"  style="width:100%"  class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4  col-md-offset-3 col-sm-5 col-sm-offset-2  order-last">
            <p id="quote">
                <q>
                    <i>
                        Never stop learning<br />
                        You learn something new every day
                    </i>
                </q>
            </p>
        </div>
    </div>
</div>
<div class="grey-row">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Plans</h2><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-plan text-center">
                    <div class="card-body">
                        <h5 class="card-title">Basic</h5>
                        <hr />
                        <h4 class="price">199€ <small>/ year</small> </h4>
                        <br />
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" /> With supporting text below </p>
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" /> With supporting text below </p>
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" />With supporting text below </p>
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" /> With supporting text below </p>
                        <br />
                        <a href="#" class="btn btn-card-plan">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="card card-plan text-center">
                    <div class="card-body">
                        <h5 class="card-title">Advance</h5>
                        <hr />
                        <h4 class="price">250€ <small>/ year</small> </h4>
                        <br />
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" /> With supporting text below </p>
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" /> With supporting text below </p>
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" />With supporting text below </p>
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" /> With supporting text below </p>
                        <br />
                        <a href="#" class="btn btn-card-plan">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="card card-plan text-center">
                    <div class="card-body">
                        <h5 class="card-title">Premium</h5>
                        <hr />
                        <h4 class="price">350€ <small>/ year</small> </h4>
                        <br />
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" /> With supporting text below </p>
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" /> With supporting text below </p>
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" />With supporting text below </p>
                        <p class="card-text"><img class="img-icon-tik" src="~/img/icons-tik.png" alt="tik" /> With supporting text below </p>
                        <br />
                        <a href="#" class="btn btn-card-plan">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>
