@model CBProject.Models.ViewModels.HomeViewModel


@using CBProject.HelperClasses



@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var root = @Url.Content("~");
}



@section styles {
    <link rel="stylesheet" href="~/Content/Lessons.css" />
    <link rel="stylesheet" href="~/Content/Ratting.css">
}


@Scripts.Render("~/bundles/jquery")


<script type="text/javascript">
    $(function () {

        // Open Watch Video Modal
        $("body").on('click', '#video-modal-button', function () {
            var id = $(this).attr('data-id');
            getLogedUser(function (user) {
                var access = false;
                user.roles.forEach(function (role) {
                    getRoleSync(role.roleId, function (role) {
                        console.log(role.level);
                        if (role.level > 0) {
                            access = true;
                        }
                    });
                });
                if (access) {
                    $.ajax({
                        url: '/Home/_Watch/' + id,
                        type: 'GET',
                        success: function (response) {
                            $('.modal-video-play').html(response);
                        }
                    });
                } else {
                    window.location = "/SubscriptionPackages/Subscribe";
                }
            });
        });

    });
</script>


@section fullWidth{

    <div class="row">
        <div class="col-md-7 col-sm-7 col-sm-offset-1 col-md-offset-1 col-xs-12 col-xs-offset-1 text animate__fadeInLeft">
            <p id="home-big-title" class="animate__animated animate__fadeInLeft ">What do you want to learn todaty?</p>
            <br />
            <p class="animate__animated animate__fadeInLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <br />
            <div class="row">
                <div class="col-md-6 col-sm-7 col-xs-8 home-search-bar">
                    <input id="search-input" type="search" class="form-control rounded animate__animated animate__fadeInUp" placeholder="Search" aria-label="Search"
                           aria-describedby="search-addon" />
                </div>
                <div class="col-md-4 ">
                    <button type="button" class="btn btn-search search animate__animated animate__fadeInUp">Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 bigImage">
            <img src="~/assets/images/home/codeme_bigImg1_index2-half.jpg" class="img-fluid" alt="Responsive image" style="width:100%">
        </div>
    </div>
}


<!-- Render Videos / Ebooks-->
<div class="grey-row">
    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <h2><strong>Courses</strong></h2><br />
                <ul class="nav nav-tabs tabs-index" id="filter-tab">
                </ul>
            </div>
        </div>
        <br />

        <div class="row" id="videos-home">

        </div>

        <br />
    </div>
    <br />
    <br /><br />
    <br />
</div>

<!-- Middle Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4  order-sm-1 order-first quote-img">
            <img src="~/assets/images/home/codeme_bigImg2_index.jpg" style="width:100%" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4  col-md-offset-3 col-sm-5 col-sm-offset-2  order-last">
            <p id="quote">
                <q>
                    <i>
                        Never stop learning<br />
                        You learn something new every day
                    </i>
                </q>
            </p>
        </div>
    </div>
</div>


<div class="grey-row">
    <div class="container">
        <div class="row ">
            <h2 id="best-sellers"> <strong>Ebook | Best Sellers</strong></h2>
            <br />

            <div class="row" id="ebooks-home">

            </div>

        </div>
    </div>
</div>

<!-- Paynment Packages -->
<div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Plans</h2><br />
            </div>
        </div>
        <div class="row plans">

        </div>

        <!-- Payment Modal -->
        <div class="modal fade paymentModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content payment-window">
                    <!-- Payment Container (Here loads payment UI) -->

                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
</div>



<!-- Video Modal -->
<div class="modal modal-fullscreen-xl" id="video-modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-video-play">

        </div>
    </div>
</div>



@section scripts {
    <script>




        // Default Category Name
        var defaultCategoryName = "XAMARIN";

        $(document).ready(function () {

            // Get Logged User and hes SubscriptionPakage
            var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
            var loggedUser = null;
            if (userAuthorized) {
                getLogedUserSync(function (user) {
                    loggedUser = user;
                    console.log(loggedUser);
                });
            }
            

            // When Modal Close Stop Video
            $('#video-modal-fullscreen-xl').on('hidden.bs.modal', function () {
                $(".myvideo").trigger('pause');
            })

            // Load Categories
            getCategories(function (data) {
                $("#filter-tab").empty();
                data.forEach(d => {
                    if (!d.master) {
                        $("#filter-tab").append(
                            `
                                <li>
                                    <a class="nav-link active category-tab" aria-current="page" data-value="${d.id}">${d.name}</a>
                                </li>
                            `
                        );
                    }
                });
            });

            // Load Subscription Packages (Plans)
            getSubscriptionPackages(function (data) {
                $(".plans").empty();
                data.forEach(d => {
                    $(".plans").append(
                        `
                            <div class="col-md-4">
                                <div class="card card-plan text-center">

                                    <div class="card-body">
                                        <h5 class="card-title">${d.description}</h5>
                                        <hr />
                                        <h4 class="price">${d.price}€<small> / year</small> </h4>
                                        <br />
                                        <p class="card-text"><img class="img-icon-tik" src="/img/icons-tik.png" alt="tik" /> Duration: ${d.duration} </p>
                                        <p class="card-text"><img class="img-icon-tik" src="/img/icons-tik.png" alt="tik" /> Started: ${d.startDate.split("T")[0]} </p>
                                        <br />
                                        <a class="btn btn-green buy-button" data-value="${d.id}" data-toggle="modal" data-target=".paymentModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                        `
                    );
                });
            });

            // Get Videos And Ebooks With Category Name BY Default
            getDataByCatName(defaultCategoryName);

            // When Details Button Clicked
            $(document.body).on('click', 'button', function () {
                if (this.classList.contains('details')) {
                    var categoryId = $(this).parent().parent().parent().find("input[type=hidden]").val();
                    var contentId = $(this).parent().parent().parent().find("input[name=content]").val();
                    var contentType = $(this).parent().parent().parent().find("input[name=content-type]").val();
                    redirectToGuestDetails(categoryId, contentId, contentType);
                }
            });

            // When Card Item Of Every Video Or Ebook Cliked
            $(".ourHolder").on("click", function () {
                if (!this.classList.contains('more')) {
                    //var categoryId = $(this).find("input[type=hidden]").val();
                    //var contentId = $(this).find("input[name=content]").val();
                    //var contentType = $(this).find("input[name=content-type]").val();
                    //redirectToCategoriesLessons(categoryId, contentId, contentType);
                }
            });

            // When Category Tab Clicked
            $(document.body).on('click', 'a', function () {
                if (this.classList.contains('category-tab')) {
                    var categoryId = $(this).data('value');
                    getDataByCatId(categoryId);
                }
            });

            // When Search Button Clicked
            $(document.body).on('click', 'button', function () {
                if (this.classList.contains('search')) {
                    var categoryName = $("#search-input").val();
                    if (categoryName.length == 0) {
                        var categoryName = defaultCategoryName;
                    }
                    getDataByCatName(categoryName);
                }
            });

            // Search Enter EventgetDataByCatName
            $('#search-input').keypress(function (event) {
                if (event.keyCode == 13) {
                    var categoryName = $("#search-input").val();
                    if (categoryName.length == 0) {
                        var categoryName = defaultCategoryName;
                    }
                    getDataByCatName(categoryName);
                }
            });


            // Get Ebooks / Videos By Category Name
            function getDataByCatName(categoryName) {
                if (loggedUser && loggedUser.subscriptionPackage) {
                    getContentsByCategoryName(categoryName, loggedUser.subscriptionPackage.id, function (data) {
                        render(data);
                    });
                } else {
                    getContentsByCategoryName(categoryName, null, function (data) {
                        render(data);
                    });
                }
                
            }

            // Get Ebooks / Videos By Category Id
            function getDataByCatId(categoryId) {
                if (loggedUser && loggedUser.subscriptionPackage) {
                    getContentsByCategoryId(categoryId, loggedUser.subscriptionPackage.id, function (data) {
                        render(data)
                    });
                } else {
                    getContentsByCategoryId(categoryId, null, function (data) {
                        render(data)
                    });
                }
            }

            // Render UI Function
            function render(data) {
                $("#videos-home").empty();
                $("#videos-home");
                $("#ebooks-home").empty();
                $("#ebooks-home");
                data.videos.sort(function (a, b) {
                    return a.ratingsAVG - b.ratingsAVG;
                });
                data.videos.reverse();
                data.videos.slice(0, 4).forEach(video => {
                    getCategorySync(video.categoryId, function (category) {
                        getUserByIdSync(video.creatorId, function (creator) {
                            var ratingFor;
                            if (userAuthorized) {
                                ratingFor = `
                                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                    <form id="video-rating-form" method="post" action="/api/Video/AddRate" target="dummyframe">
                                        <input type="hidden" id="videoId" name="videoId" value="${video.id}">
                                        <input name="rate"
                                                class="rating rating-loading rate raiting-card"
                                                data-min="0"
                                                data-max="5"
                                                data-step="0.1"
                                                value="${video.ratingsAVG}"
                                                onchange="this.form.submit()">
                                        <!--<input type="submit" value="Submit" />-->
                                    </form>
                                    `
                            } else {
                                ratingFor = `
                                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                    <form id="video-rating-form" method="post" action="/api/Video/AddRate" target="dummyframe">
                                        <input type="hidden" id="videoId" name="videoId" value="${video.id}">
                                        <input name="rate"
                                                class="rating rating-loading rate raiting-card"
                                                data-min="0"
                                                data-max="5"
                                                data-step="0.1"
                                                value="${video.ratingsAVG}"
                                                disabled
                                                onchange="this.form.submit()">
                                        <!--<input type="submit" value="Submit" />-->
                                    </form>
                                    `
                            }
                            $("#videos-home").append(
                                `
                                <div class="col-md-3 ourHolder" ">
                                    <input type="hidden" id="category" name="category" value="${video.categoryId}">
                                    <input type="hidden" id="content" name="content" value="${video.id}">
                                    <input type="hidden" id="content-type" name="content-type" value="video">
                                    <div class="card item" id="card-video">
                                        <video class="embed-responsive-item title-video" controls preload="none" poster="${video.thumbnail}" style="width:100%;" controlsList="nodownload">
                                            <source src="${video.videoPath}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <!--<img alt="Cover Foto" src="${video.videoImagePath}" style="width:100%;" />-->
                                         <p style="text-align:center;margin-top:14px;"><b>${video.title}</b></p>
                                             <hr>
                                        <div class="card-body">
                                             <p><img class="img-icon-index" src="../assets/images/icons/icons-person.png" alt="person" />  ${creator.fullName}</p>
                                                <p><img class="img-icon-index" src="../assets/images/icons/icon-video.png" alt="video" /> ${video.duration.split(".")[0]} Hours  </p>
                                                <p><img class="img-icon-index" src="../assets/images/icons/icon-calendar.png" alt="video" /> <small>  ${video.uploadDate.split("T")[0]}</small>  </p>
                                            `+ ratingFor +`
                                            ` + isSubscribed(video.subscribed, data.subscriptionPackage) + `
                                            <br />
                                            <br />
                                            <button class="btn btn-purple btn-lg details">Details</button>
                                            ` + displayPlayButton(userAuthorized, video.id) + `
                                        </div>
                                    </div>
                                </div>
                                `
                            );
                            $("#video-rating-form").submit(function (e) {
                                e.preventDefault();
                                $.ajax({
                                    url: '/api/Video/AddRate',
                                    type: 'post',
                                    data: $('#video-rating-form').serialize(),
                                    success: function () {
                                        // Whatever you want to do after the form is successfully submitted
                                    }
                                });
                            });
                            var ratingInput = $('input[name="rate"]');
                            $(ratingInput).rating();
                        });
                    });

                });
                data.ebooks.sort(function (a, b) {
                    return a.ratingsAVG - b.ratingsAVG;
                });
                data.ebooks.reverse();
                data.ebooks.slice(0, 4).forEach(ebook => {
                    getCategorySync(ebook.categoryId, function (category) {
                        getUserByIdSync(ebook.creatorId, function (creator) {
                            var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
                            var ratingFor;
                            if (userAuthorized) {
                                ratingFor = `
                                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                    <form id="ebook-rating-form" method="post" action="/api/Ebook/AddRate" target="dummyframe">
                                        <input type="hidden" id="ebookId" name="ebookId" value="${ebook.id}">
                                        <input name="rate"
                                                class="rating rating-loading rate"
                                                data-min="0"
                                                data-max="5"
                                                data-step="0.1"
                                                value="${ebook.ratingsAVG}"
                                                onchange="this.form.submit()">
                                        <!--<input type="submit" value="Submit" />-->
                                    </form>
                                    `
                            } else {
                                ratingFor = `
                                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                    <form id="ebook-rating-form" method="post" action="/api/Ebook/AddRate" target="dummyframe">
                                        <input type="hidden" id="ebookId" name="ebookId" value="${ebook.id}">
                                        <input name="rate"
                                                class="rating rating-loading rate"
                                                data-min="0"
                                                data-max="5"
                                                data-step="0.1"
                                                value="${ebook.ratingsAVG}"
                                                disabled
                                                onchange="this.form.submit()">
                                        <!--<input type="submit" value="Submit" />-->
                                    </form>
                                `
                            }
                            $("#ebooks-home").append(
                                `
                                <div class="col-md-3 ourHolder" data-item="${ebook.category}">
                                    <div class="card item" id="card-ebook">
                                        <img class="card-book-img" alt="Cover Foto" src="${ebook.ebookImagePath}" style="height: 150px; text-align: center;" />
                                        <p style="text-align:center;margin-top:14px;"><b>${ebook.title}</b>
                                        <hr />
                                    <!--<img class="card-img-top" style="width:100%" src="~/img/${ebook.thumbnail}" alt="Card image cap">-->
                                    <div class="card-body ebook-card">
                                            <p><img class="img-icon-index" src="../assets/images/icons/icons-person.png" alt="person" />  ${creator.fullName}</p>
                                            <p><img class="img-icon-index" src="../assets/images/icons/icon-calendar.png" alt="video" /><small> ${ebook.uploadDate.split("T")[0]} </small></p>
                                            `+ ratingFor +`
                                            ` + isSubscribed(ebook.subscribed, data.subscriptionPackage) + `
                                            <br />
                                            <br />
                                            <a href="/Ebooks/PublicDetails/${ebook.id}">Details</a>

                                        </div>
                                    </div>
                                </div>
                                `
                            );
                            var ratingInput = $('input[name="rate"]');
                            $(ratingInput).rating();
                        });
                    });
                }); 
            }

            // Display or Not Play Button of Videos
            function displayPlayButton(userAuthorized, id) {
                if (userAuthorized) {
                    return `
                                <button id="video-modal-button" class="btn btn-green btn-lg btn-open-modal more" data-toggle="modal" data-target="#video-modal-fullscreen-xl" data-id="${id}">
                                    Play
                                </button>`;
                } else {
                    return ``;
                }
            }


        })

    </script>

    <script src="~/Scripts/Ratting.js"></script>
}