@model CBProject.Models.ViewModels.HomeViewModel

@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using CBProject.Models


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var fullname = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("FullName");
    //var user_image = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("ImagePath");

    var context = new ApplicationDbContext();
    var userStore = new UserStore<ApplicationUser, ApplicationRole, string, IdentityUserLogin, IdentityUserRole, IdentityUserClaim>(context);
    var userManager = new CBProject.ApplicationUserManager(userStore);
    var currentUser = userManager.FindById(User.Identity.GetUserId());
    var roleStore = new RoleStore<ApplicationRole>(context);
    var roleManager = new RoleManager<ApplicationRole>(roleStore);

    RoleLevel access = RoleLevel.SUPERLOW;

    if (User.Identity.IsAuthenticated)
    {

        var fullName = currentUser.FullName;
        var userImage = currentUser.ImagePath;

        foreach (var role in currentUser.Roles)
        {
            var myRole = roleManager.FindById(role.RoleId);
            if (myRole.Level == RoleLevel.FULL)
            {
                access = myRole.Level;
            }
            else if (myRole.Level == RoleLevel.PLUSSFULL)
            {
                if (access != RoleLevel.FULL)
                {
                    access = myRole.Level;
                }
            }
            else if (myRole.Level == RoleLevel.MIDDLE)
            {
                if (access != RoleLevel.FULL &&
                    access != RoleLevel.PLUSSFULL)
                {
                    access = myRole.Level;
                }
            }
            else if (myRole.Level == RoleLevel.LOW)
            {
                if (access != RoleLevel.FULL &&
                    access != RoleLevel.PLUSSFULL &&
                    access != RoleLevel.MIDDLE)
                {
                    access = myRole.Level;
                }
            }
            else if (myRole.Level == RoleLevel.SUPERLOW)
            {
                if (access != RoleLevel.FULL &&
                    access != RoleLevel.PLUSSFULL &&
                    access != RoleLevel.MIDDLE &&
                    access != RoleLevel.LOW)
                {
                    access = myRole.Level;
                }
            }
        }
    }

}



<style>
    .lessons-top-navbar {
        padding-top: 57px !important;
    }

    .lessons-top-title {
        margin-left: 33px;
        margin-top: 11px;
    }

    .lessons-top-grid {
        padding-top: 11px;
    }

    .search-top-input {
        float: right !important;
        margin-right: 33px;
    }

    .lessons-top-nav-filters-buttons {
        margin-left: 33px;
    }
</style>


<!-- Filters Top Nav -->
<nav class="navbar navbar-light bg-light justify-content-between lessons-top-navbar">
    <h2 class="lessons-top-title">Chillin and searching something...</h2>
    <div class="row lessons-top-grid">
        <div class="col-md-6">
            <form class="form-inline lessons-top-nav-filters-buttons">
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-filter"></span>
                        Filter
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="ebooks-filter">Ebooks</a></li>
                        <li><a href="#" class="videos-filter">Videos</a></li>
                    </ul>
                </span>
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                        Sort By
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="lessons-ratings">Rating</a></li>
                        <li><a href="#" class="created-date">Created Date</a></li>
                    </ul>
                </span>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline search-top-input">
                <input id="lessons-top-search-input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-search search-top-button" type='button'>
                    Search
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>



<div class="row" style="margin-top: 50px !important; margin-bottom: 50px !important;">
    <!-- Filters SlideBar -->
    <div class="col-md-2">
        <br />
        <div id="subscription-container">
            @Html.ActionLink("Subscribe Now", "Subscribe", "SubscriptionPackages", null, new { @class = "subscribe-button" })
        </div>
    </div>
    <!-- Main Content -->
    <div class="col-md-10">
        <div class="container-fluid">
            <div class="grey-row">
                <div class="container">
                    <br />
                    <br />

                    <div class="row contents">

                    </div>

                    <br />
                    <br />
                </div>
                <div class="col-lg-12">
                    <nav>
                        <ul class="pagination pagination-lg justify-content-center pagination-content">
                            @*<li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="">2</a></li>
                            <li class="page-item"><a class="page-link" href="">3</a></li>
                            <li class="page-item"><a class="page-link" href="">4</a></li>
                            <li class="page-item"><a class="page-link" href="">5</a></li>
                            <li class="page-item"><a class="page-link" href="">&raquo;</a></li>*@
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script>
        $(document).ready(function () {

            var ebooks = false;
            var videos = true;
            var lessonsRatings = true;
            var createdDate = false;
            var search = "";
            var pages = 1;
            var page = 1;


            // Setup Pages
            getVideosPages(function (pagesNumber) {
                pages = pagesNumber;
                for (i = 1; i <= pagesNumber; i++) {
                    $(".pagination-content").append(`<li class="page-item"><a class="pagenation-link" data-id=${i}>${i}</a></li>`);
                };
            });


            // Render the first page of Videos When Page Loads
            getVideosPage(page, function (data) {
                //console.log(data);
                $(".contents").empty();
                data.forEach(video => {
                    getCategory(video.categoryId, function (category) {
                        $(".contents").append(
                            `
                            <div class="col-md-3 ourHolder" ">
                                <input type="hidden" id="category" name="category" value="${category.id}">
                                <input type="hidden" id="content" name="content" value="${video.id}">
                                <input type="hidden" id="content-type" name="content-type" value="video">
                                <div class="card item" id="card-video">
                                    <iframe class="embed-responsive-item" src="${video.videoPath}" autoplay="false" allowfullscreen></iframe>
                                    <!--<img alt="Cover Foto" src="${video.videoImagePath}" style="width:100%;" />-->
                                    <p><b>${video.title}</b></p>
                                    <div class="card-body">
                                        <p><img class="img-icon-index" src="../assets/images/icons/icons-person.png" alt="person" /> Programming with  </p>
                                        <p><img class="img-icon-index" src="../assets/images/icons/icon-video.png" alt="video" /> hours on-demand video  </p>
                                        <br />
                                        <button class="btn btn-card btn-lg details">Details</button>
                                        <button class="btn btn-card-play btn-lg btn-open-modal more" data-toggle="modal" data-target="#modal-fullscreen-xl">
                                            Play
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Video Modal -->
                            <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">${video.title}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="${video.videoPath}" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                        );
                    });
                });
            });            

            // Search Button Top Clicks
            $(document.body).on('click', 'button', function () {
                if (this.classList.contains('search-top-button')) {
                    var search = $("#lessons-top-search-input").val();
                    searchTop(ebooks, videos, lessonsRatings, createdDate, search, page);
                }
            });

            // Filter By Ebooks
            $(document.body).on('click', 'a', function () {
                if (this.classList.contains('ebooks-filter')) {
                    ebooks = true;
                    videos = false;
                    $(".search-top-button").click();
                }
            });

            // Filter By Videos
            $(document.body).on('click', 'a', function () {
                if (this.classList.contains('videos-filter')) {
                    ebooks = false;
                    videos = true;
                    $(".search-top-button").click();
                }
            });

            // Sort By Lessons Rating
            $(document.body).on('click', 'a', function () {
                if (this.classList.contains('lessons-ratings')) {
                    lessonsRatings = true;
                    createdDate = false;
                    $(".search-top-button").click();
                }
            });

            // Sort By Created Date
            $(document.body).on('click', 'a', function () {
                if (this.classList.contains('created-date')) {
                    lessonsRatings = false;
                    createdDate = true;
                }
            });

            // Whene Paginations Link Number Clicked
            $(document.body).on('click', 'a', function () {
                if (this.classList.contains('pagenation-link')) {
                    page = $(this).data("id");
                    $(".search-top-button").click();
                }
            });

            // When Details Buttons Clicked
            $(document.body).on('click', 'button', function () {
                if (this.classList.contains('details')) {
                    var categoryId = $(this).parent().parent().parent().find("input[type=hidden]").val();
                    var contentId = $(this).parent().parent().parent().find("input[name=content]").val();
                    var contentType = $(this).parent().parent().parent().find("input[name=content-type]").val();
                    redirectToGuestDetails(categoryId, contentId, contentType);
                }
            });

            // When Or Card Item Od Every Viedo Or Ebook Clicked
            $(".ourHolder").on("click", function () {
                //var categoryId = $(this).find("input[type=hidden]").val();
                //var contentId = $(this).find("input[name=content]").val();
                //var contentType = $(this).find("input[name=content-type]").val();
                //redirectToCategoriesLessons(categoryId, contentId, contentType);
            });



            // Search
            function searchTop(ebooks, videos, lessonsRatings, createdDate, search, page) {
                var sendData = {
                    ebooks: ebooks,
                    videos: videos,
                    lessonsRatings: lessonsRatings,
                    createdDate: createdDate,
                    search: search,
                    page: page
                };
                getProductsByFilters(sendData, function (response_data) {
                    //console.log(response_data);
                    render(response_data, videos, ebooks);
                });
            };

            // Contents Render UI Function
            function render(data, videos, ebooks) {
                if (data.videos && videos) {
                    $(".contents").empty();
                    data.videos.forEach(video => {
                        getCategory(video.categoryId, function (category) {
                            $(".contents").append(
                                `
                            <div class="col-md-3 ourHolder" ">
                                <input type="hidden" id="category" name="category" value="${category.id}">
                                <input type="hidden" id="content" name="content" value="${video.id}">
                                <input type="hidden" id="content-type" name="content-type" value="video">
                                <div class="card item" id="card-video">
                                    <iframe class="embed-responsive-item" src="${video.videoPath}" allowfullscreen></iframe>
                                    <!--<img alt="Cover Foto" src="${video.videoImagePath}" style="width:100%;" />-->
                                    <p><b>${video.title}</b></p>
                                    <div class="card-body">
                                        <p><img class="img-icon-index" src="../assets/images/icons/icons-person.png" alt="person" /> Programming with  </p>
                                        <p><img class="img-icon-index" src="../assets/images/icons/icon-video.png" alt="video" /> hours on-demand video  </p>
                                        <br />
                                        <button class="btn btn-card btn-lg details">Details</button>
                                        <button class="btn btn-card btn-lg btn-open-modal more" data-toggle="modal" data-target="#modal-fullscreen-xl">
                                            Play
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Video Modal -->
                            <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">${video.title}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="${video.videoPath}" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                            );
                        });
                    });
                }
                if (data.ebooks && ebooks) {
                    $(".contents").empty();
                    data.ebooks.forEach(ebook => {
                        getCategory(ebook.categoryId, function (category) {
                            $(".contents").append(`
                                <div class="col-md-4 ourHolder" id="ourHolder">
                                    <input type="hidden" id="category" name="category" value="${category.id}">
                                    <input type="hidden" id="content" name="content" value="${ebook.id}">
                                    <input type="hidden" id="content-type" name="content-type" value="ebook">
                                    <div class="card item" id="card-video">
                                        <div style="width:100%; text-align:center; margin-top: 5%;">
                                            <img alt="Cover Foto" src="${ebook.ebookImagePath}" style="height:150px;" />
                                            <h4 style="margin-top: 5%;">${ebook.title}</h4>
                                        </div>
                                        <div class="card-body text-center">
                                            <p class="card-text"> ${ebook.description} </p>
                                            <p class="card-text"> ${ebook.title}  </p>
                                            <br />
                                            <button class="btn btn-card btn-lg details">Details</button>
                                            <button class="btn btn-card btn-lg btn-open-modal" data-toggle="modal" data-target="#modal-fullscreen-xl">
                                                Read
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Ebook Modal -->
                                <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">${ebook.title}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <embed src='${ebook.ebookFilePath} width:"300px;" height="300px" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `);
                        });
                    });
                }
                $(".ourHolder").on("click", function () {
                    //var categoryId = $(this).find("input[type=hidden]").val();
                    //var contentId = $(this).find("input[name=content]").val();
                    //var contentType = $(this).find("input[name=content-type]").val();
                    //redirectToCategoriesLessons(categoryId, contentId, contentType);
                });
                paginationButtonsRender();
            }

            // Pagination Buttons Render
            function paginationButtonsRender() {
                $(".pagination-content").empty();
                if (ebooks) {
                    getEbooksPages(function (pagesNumber) {
                        pages = pagesNumber;
                        console.log(pages);
                        for (i = 1; i <= pagesNumber; i++) {
                            $(".pagination-content").append(`<li class="page-item"><a class="pagenation-link" data-id=${i}>${i}</a></li>`);
                        };
                    });
                } else if (videos) {
                    getVideosPages(function (pagesNumber) {
                        pages = pagesNumber;
                        for (i = 1; i <= pagesNumber; i++) {
                            $(".pagination-content").append(`<li class="page-item"><a class="pagenation-link" data-id=${i}>${i}</a></li>`);
                        };
                    });
                }
            }

        });
    </script>
}