@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h2>Terms & Conditions</h2>
    <br />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae facilisis orci, vel porta neque. Ut suscipit, elit eget placerat mattis, tellus arcu tincidunt tellus, in condimentum enim nisi sit amet magna. Duis a turpis rutrum, aliquam urna ac, semper neque. Suspendisse eu placerat sem. Cras ullamcorper, ex sed laoreet blandit, nunc lacus rhoncus felis, nec tristique lacus lectus eu turpis. Sed in tempor mi, ac aliquam ligula. Fusce eleifend quam augue, nec consequat elit sodales gravida. Ut rutrum lacus purus, id sollicitudin erat dapibus ac. Nunc in convallis neque. Proin bibendum semper mattis. Maecenas sed feugiat est. Etiam volutpat felis cursus, gravida odio a, laoreet urna. Integer tincidunt iaculis ante, ut accumsan libero blandit sit amet. Ut mattis tincidunt urna ut suscipit.

        Curabitur a fermentum leo. Vestibulum lorem turpis, sagittis a justo in, tincidunt consectetur purus. Cras et accumsan sapien, at bibendum nibh. Morbi lobortis feugiat fermentum. Vivamus ultrices ultrices blandit. In cursus rutrum est, vitae auctor est aliquam non. Nullam fermentum mattis placerat. Praesent magna ex, ornare ut urna sed, eleifend molestie velit. Donec placerat porttitor dui ac semper. Cras urna risus, ornare sit amet felis vel, finibus finibus lacus. Nulla vitae semper sapien. Mauris eget pretium turpis, a varius sem.

        Nulla vitae justo erat. Nulla sodales nunc sed eros eleifend consectetur. Suspendisse vitae ex augue. Aliquam feugiat pretium diam sed rutrum. Pellentesque rhoncus velit nec nulla finibus, vitae tempus magna tristique. Mauris lectus orci, convallis id fermentum quis, faucibus a augue. Aenean laoreet mauris pulvinar viverra venenatis. Aenean aliquet eleifend urna, vitae scelerisque quam tempor ac.

        Aenean ac elit vestibulum, congue leo vel, maximus ante. Maecenas tincidunt, tortor quis volutpat consequat, ligula enim pulvinar nisl, non imperdiet lorem justo at urna. Integer pulvinar eu felis non pulvinar. In porttitor feugiat mi, condimentum blandit est iaculis vitae. Morbi et mauris vel lorem iaculis elementum. Nunc vehicula imperdiet enim. Duis nisl ex, interdum sed massa ac, tristique bibendum mi.

        Curabitur tempus aliquam risus id aliquet. Vivamus feugiat diam mollis urna lacinia, eu lacinia mauris interdum. Ut ac lectus nec eros tincidunt varius fermentum at nisi. Aenean quis vulputate sem. Nulla bibendum nec nibh quis luctus. Mauris dignissim hendrerit ante vitae rutrum. Duis sodales ante a mauris pharetra, at vulputate neque placerat. Maecenas interdum viverra neque et condimentum. Sed interdum lacus ut vulputate ultricies. Sed faucibus purus vel mi porttitor, sit amet posuere felis cursus. Cras ut felis sed diam faucibus placerat.
    </p>
    <br />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae facilisis orci, vel porta neque. Ut suscipit, elit eget placerat mattis, tellus arcu tincidunt tellus, in condimentum enim nisi sit amet magna. Duis a turpis rutrum, aliquam urna ac, semper neque. Suspendisse eu placerat sem. Cras ullamcorper, ex sed laoreet blandit, nunc lacus rhoncus felis, nec tristique lacus lectus eu turpis. Sed in tempor mi, ac aliquam ligula. Fusce eleifend quam augue, nec consequat elit sodales gravida. Ut rutrum lacus purus, id sollicitudin erat dapibus ac. Nunc in convallis neque. Proin bibendum semper mattis. Maecenas sed feugiat est. Etiam volutpat felis cursus, gravida odio a, laoreet urna. Integer tincidunt iaculis ante, ut accumsan libero blandit sit amet. Ut mattis tincidunt urna ut suscipit.

        Curabitur a fermentum leo. Vestibulum lorem turpis, sagittis a justo in, tincidunt consectetur purus. Cras et accumsan sapien, at bibendum nibh. Morbi lobortis feugiat fermentum. Vivamus ultrices ultrices blandit. In cursus rutrum est, vitae auctor est aliquam non. Nullam fermentum mattis placerat. Praesent magna ex, ornare ut urna sed, eleifend molestie velit. Donec placerat porttitor dui ac semper. Cras urna risus, ornare sit amet felis vel, finibus finibus lacus. Nulla vitae semper sapien. Mauris eget pretium turpis, a varius sem.

        Nulla vitae justo erat. Nulla sodales nunc sed eros eleifend consectetur. Suspendisse vitae ex augue. Aliquam feugiat pretium diam sed rutrum. Pellentesque rhoncus velit nec nulla finibus, vitae tempus magna tristique. Mauris lectus orci, convallis id fermentum quis, faucibus a augue. Aenean laoreet mauris pulvinar viverra venenatis. Aenean aliquet eleifend urna, vitae scelerisque quam tempor ac.

        Aenean ac elit vestibulum, congue leo vel, maximus ante. Maecenas tincidunt, tortor quis volutpat consequat, ligula enim pulvinar nisl, non imperdiet lorem justo at urna. Integer pulvinar eu felis non pulvinar. In porttitor feugiat mi, condimentum blandit est iaculis vitae. Morbi et mauris vel lorem iaculis elementum. Nunc vehicula imperdiet enim. Duis nisl ex, interdum sed massa ac, tristique bibendum mi.

        Curabitur tempus aliquam risus id aliquet. Vivamus feugiat diam mollis urna lacinia, eu lacinia mauris interdum. Ut ac lectus nec eros tincidunt varius fermentum at nisi. Aenean quis vulputate sem. Nulla bibendum nec nibh quis luctus. Mauris dignissim hendrerit ante vitae rutrum. Duis sodales ante a mauris pharetra, at vulputate neque placerat. Maecenas interdum viverra neque et condimentum. Sed interdum lacus ut vulputate ultricies. Sed faucibus purus vel mi porttitor, sit amet posuere felis cursus. Cras ut felis sed diam faucibus placerat.
    </p>
    <br />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae facilisis orci, vel porta neque. Ut suscipit, elit eget placerat mattis, tellus arcu tincidunt tellus, in condimentum enim nisi sit amet magna. Duis a turpis rutrum, aliquam urna ac, semper neque. Suspendisse eu placerat sem. Cras ullamcorper, ex sed laoreet blandit, nunc lacus rhoncus felis, nec tristique lacus lectus eu turpis. Sed in tempor mi, ac aliquam ligula. Fusce eleifend quam augue, nec consequat elit sodales gravida. Ut rutrum lacus purus, id sollicitudin erat dapibus ac. Nunc in convallis neque. Proin bibendum semper mattis. Maecenas sed feugiat est. Etiam volutpat felis cursus, gravida odio a, laoreet urna. Integer tincidunt iaculis ante, ut accumsan libero blandit sit amet. Ut mattis tincidunt urna ut suscipit.

        Curabitur a fermentum leo. Vestibulum lorem turpis, sagittis a justo in, tincidunt consectetur purus. Cras et accumsan sapien, at bibendum nibh. Morbi lobortis feugiat fermentum. Vivamus ultrices ultrices blandit. In cursus rutrum est, vitae auctor est aliquam non. Nullam fermentum mattis placerat. Praesent magna ex, ornare ut urna sed, eleifend molestie velit. Donec placerat porttitor dui ac semper. Cras urna risus, ornare sit amet felis vel, finibus finibus lacus. Nulla vitae semper sapien. Mauris eget pretium turpis, a varius sem.

        Nulla vitae justo erat. Nulla sodales nunc sed eros eleifend consectetur. Suspendisse vitae ex augue. Aliquam feugiat pretium diam sed rutrum. Pellentesque rhoncus velit nec nulla finibus, vitae tempus magna tristique. Mauris lectus orci, convallis id fermentum quis, faucibus a augue. Aenean laoreet mauris pulvinar viverra venenatis. Aenean aliquet eleifend urna, vitae scelerisque quam tempor ac.

        Aenean ac elit vestibulum, congue leo vel, maximus ante. Maecenas tincidunt, tortor quis volutpat consequat, ligula enim pulvinar nisl, non imperdiet lorem justo at urna. Integer pulvinar eu felis non pulvinar. In porttitor feugiat mi, condimentum blandit est iaculis vitae. Morbi et mauris vel lorem iaculis elementum. Nunc vehicula imperdiet enim. Duis nisl ex, interdum sed massa ac, tristique bibendum mi.

        Curabitur tempus aliquam risus id aliquet. Vivamus feugiat diam mollis urna lacinia, eu lacinia mauris interdum. Ut ac lectus nec eros tincidunt varius fermentum at nisi. Aenean quis vulputate sem. Nulla bibendum nec nibh quis luctus. Mauris dignissim hendrerit ante vitae rutrum. Duis sodales ante a mauris pharetra, at vulputate neque placerat. Maecenas interdum viverra neque et condimentum. Sed interdum lacus ut vulputate ultricies. Sed faucibus purus vel mi porttitor, sit amet posuere felis cursus. Cras ut felis sed diam faucibus placerat.
    </p>
    <br />
</div>

