<footer class="footer">
    <div class="container-fluid">
        <div class="text-sm-right d-none d-sm-block" style="text-align:center;">
            &copy; @DateTime.Now.Year - CodeMe
        </div>
    </div>
</footer>

