<h2>Tags</h2>




<div class="table-responsive">
    <table class="table" id="tags">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>





@section scripts{
    <script>
        $(document).ready(function () {

            // Get Logged User and hes SubscriptionPakage
            var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
            var loggedUser = null;
            if (userAuthorized) {
                getLogedUserSync(function (user) {
                    loggedUser = user;
                });
            }

            var table = $("#tags").DataTable({
                ajax: {
                    url: `/api/Tag/all`,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "ID",
                        render: function (data, type, tag) {
                            return "<a href='/Tags/Details/" + tag.id + "'>" + tag.id + "</a>";
                        }
                    },
                    {
                        data: "Tag",
                        render: function (data, type, tag) {
                            console.log(tag);
                            return "<a>" + tag.title + "</a>";
                        }
                    }
                ],
                createdRow: function (row, data, dataIndex) {
                    // any manipulation in the row element
                    var ratingInput = $(row).find('.rating');
                    $(ratingInput).rating();
                }
            });
        });
    </script>

    <script src="~/Scripts/Ratting.js"></script>
}

