

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    .package-card {
        margin-top: 33px;
    }

    .item {
        border-radius: 11px;
        border-style: solid;
    }

        .item:hover {
            transform: translate(0, -11px);
        }

    .item-header {
        border-radius: 11px 11px 0 0;
        background-color: darkgrey;
        text-align: center;
        padding: 7px;
    }
</style>






<div class="container">
    <div class="row" id="ebooks-home">



    </div>
    <br />
    <br />
</div>



@section scripts {



    <script>
        $(document).ready(function () {



            getSubscriptionPackages(function (packages) {
                renderPackages(packages);
            });
            


            function renderPackages(packages) {
                $("#ebooks-home").empty();
                $("#ebooks-home").append(`
                        <br />
                        <h3>Select a Package:</h3>
                        <hr />
                        <br />
                `);
                packages.forEach(function (pack) {
                    var html = `
                        <div class="col-md-4" id="ourHolder"">
                            <div class="card item" id="card-video">
                                <div style="width:100%; text-align:center; margin-top: 5%;">
                                    <h2 style="margin-top: 5%;">${pack.description}</h2>
                                    <h4 style="margin-top: 5%;"><b>Price:</b> ${pack.price}</h4>
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text"><strong>Duration:</strong> ${pack.duration}</p>
                                    <p class="card-text"><strong>ContentType:</strong> ${pack.contentType.name}</p>
                                    <br />
                                    <a class="btn btn-card subscribe-button" data-value="${pack.id}">>Subscribe</a>
                                </div>
                            </div>
                        </div>
                    `;
                    $("#ebooks-home").append(html);
                });
                
            }


            
            $(document.body).on('click', 'a', function () {
                if (this.classList.contains("subscribe-button")) {
                    var packageId = $(this).data('value');
                    createOrder(packageId);
                }
            });



            function createOrder(packageId) {
                getSubscriptionPackage(packageId, function (package) {
                    getLogedUser(function (user) {
                        if (user !== "null") {
                            doPaynment(user, package, function (response) {
                                var data = JSON.parse(response);
                                //console.log(data.token);
                                //console.log(data.redirect_url);
                                window.location.href = data.redirect_url;
                            });
                        } else {
                            window.location.href = "/Account/Register";
                        }
                    });
                });
            }



        });
    </script>


}


