

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    .package-card {
        margin-top: 33px;
    }

    .item {
        border-radius: 11px;
        border-style: solid;
    }

        .item:hover {
            transform: translate(0, -11px);
        }

    .item-header {
        border-radius: 11px 11px 0 0;
        background-color: darkgrey;
        text-align: center;
        padding: 7px;
    }
</style>






<div class="container">

    <br />
    <br />

    <h2>Subscribe Now</h2>

    <br />
    <br />
    <br />
    <br />

    <div class="row plans">

    </div>



    <!-- Payment Modal -->
    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content payment-window">
                
            </div>
        </div>
    </div>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>



@section scripts {
    <script>
        $(document).ready(function () {

            // Load Subscription Packages (Plans)
            getSubscriptionPackages(function (data) {
                $(".plans").empty();
                data.forEach(d => {
                    $(".plans").append(
                        `
                        <div class="col-md-4">
                            <div class="card card-plan text-center">
                                <div class="card-body">
                                    <h5 class="card-title">${d.description}</h5>
                                    <hr />
                                    <h4 class="price">${d.price}€<small> / year</small> </h4>
                                    <br />
                                    <p class="card-text"><img class="img-icon-tik" src="/img/icons-tik.png" alt="tik" /> Duration: ${d.duration} </p>
                                    <p class="card-text"><img class="img-icon-tik" src="/img/icons-tik.png" alt="tik" /> Started: ${d.startDate} </p>
                                    <br />
                                    <a class="btn btn-card-plan buy-button" data-value="${d.id}" data-toggle="modal" data-target="#paymentModal">Buy</a>
                                </div>
                            </div>
                        </div>
                    `
                    );
                });
            });

        });
    </script>
}





