

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <br />
    <br />
    <h3 style="text-align:center">Plans</h3>
    <h2 style="text-align:center"><b>A global learning platform for eneryone</b></h2>
    <br />
    <br />

    <div class="row plans"></div>

    <!-- Payment Modal -->
    <div class="modal fade paymentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content payment-window">
                <!-- Payment Container (Here loads payment UI) -->

            </div>
        </div>
    </div>
    <br />
    <br />
    <p>
        <i>
            *Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book.Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
            an unknown printer took a galley of type and scrambled it to make a type specimen book
        </i>
    </p>
    <br />
    <br />
</div>




@section scripts {
    <script>
        $(document).ready(function () {

            // Load Subscription Packages (Plans)
            getSubscriptionPackages(function (data) {
                $(".plans").empty();
                data.forEach(d => {
                    $(".plans").append(
                        `
                        <div class="col-md-4">
                            <div class="card card-plan text-center">
                                <div class="card-body">
                                    <h5 class="card-title">${d.description}</h5>
                                    <hr />
                                    <h4 class="price">${d.price}€<small> / year</small> </h4>
                                    <br />
                                    <p class="card-text"><img class="img-icon-tik" src="/img/icons-tik.png" alt="tik" /> Duration: ${d.duration} </p>
                                    <p class="card-text"><img class="img-icon-tik" src="/img/icons-tik.png" alt="tik" /> Started: ${d.startDate} </p>
                                     <p class="card-text"><img class="img-icon-tik" src="/img/icons-tik.png" alt="tik" /> Mobile app access </p>
                                     <p class="card-text"><img class="img-icon-tik" src="/img/icons-tik.png" alt="tik" /> Access to 6,500+ courses</p>
                                       <p class="card-text"><img class="img-icon-tik" src="/img/icons-tik.png" alt="tik" /> Custom topics </p>

                                    <br />
                                    <a class="btn btn-card-plan buy-button" data-value="${d.id}" data-toggle="modal" data-target=".paymentModal">Buy</a>
                                </div>
                            </div>
                        </div>
                    `
                    );
                });
            });

        });
    </script>
}





