@model IEnumerable<CBProject.Models.ViewModels.VideoViewModel>

<link rel="stylesheet" href="~/Content/Ratting.css">

@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using CBProject.Models

@{
    //var fullname = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("FullName");
    //var user_image = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("ImagePath");


    var context = new ApplicationDbContext();
    var userStore = new UserStore<ApplicationUser, ApplicationRole, string, IdentityUserLogin, IdentityUserRole, IdentityUserClaim>(context);
    var userManager = new CBProject.ApplicationUserManager(userStore);
    var currentUser = userManager.FindById(User.Identity.GetUserId());
    var roleStore = new RoleStore<ApplicationRole>(context);
    var roleManager = new RoleManager<ApplicationRole>(roleStore);


    var fullName = currentUser.FullName;
    var userImage = currentUser.ImagePath;
    RoleLevel access = RoleLevel.SUPERLOW;

    if (User.Identity.IsAuthenticated)
    {
        foreach (var role in currentUser.Roles)
        {
            var myRole = roleManager.FindById(role.RoleId);
            if (myRole.Level == RoleLevel.FULL)
            {
                access = myRole.Level;
            }
            else if (myRole.Level == RoleLevel.PLUSSFULL)
            {
                if (access != RoleLevel.FULL)
                {
                    access = myRole.Level;
                }
            }
            else if (myRole.Level == RoleLevel.MIDDLE)
            {
                if (access != RoleLevel.FULL &&
                    access != RoleLevel.PLUSSFULL)
                {
                    access = myRole.Level;
                }
            }
            else if (myRole.Level == RoleLevel.LOW)
            {
                if (access != RoleLevel.FULL &&
                    access != RoleLevel.PLUSSFULL &&
                    access != RoleLevel.MIDDLE)
                {
                    access = myRole.Level;
                }
            }
            else if (myRole.Level == RoleLevel.SUPERLOW)
            {
                if (access != RoleLevel.FULL &&
                    access != RoleLevel.PLUSSFULL &&
                    access != RoleLevel.MIDDLE &&
                    access != RoleLevel.LOW)
                {
                    access = myRole.Level;
                }
            }
        }
    }
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Scripts.Render("~/bundles/jquery")


<script type="text/javascript">
    $(function () {

        // Open _Tag Modal
        $("body").on('click', '#tag-modal-button-video', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: '/Videos/_Tag/' + id,
                type: 'GET',
                success: function (response) {
                    $('.tag-modal-video').html(response);
                }
            });
        });

        // Open _Review Modal
        $("body").on('click', '#comment-modal-button-video', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: '/Videos/_Review/' + id,
                type: 'GET',
                success: function (response) {
                    $('.review-modal-video').html(response);
                }
            });
        });

        // Open _Delete Modal
        $("body").on('click', '#delete-modal-button-video', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: '/Videos/_Delete/' + id,
                type: 'GET',
                success: function (response) {
                    $('.delete-modal-video').html(response);
                }
            });
        });

        // Open _Edit Modal
        $("body").on('click', '#edit-modal-button-video', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: '/Videos/_Edit/' + id,
                type: 'GET',
                success: function (response) {
                    $('.edit-modal-video').html(response);
                }
            });
        });

        // Open _Details Modal
        $("body").on('click', '#details-modal-button-video', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: '/Videos/_Details/' + id,
                type: 'GET',
                success: function (response) {
                    $('.details-modal-video').html(response);
                }
            });
        });

    });
</script>








<div class="table-responsive">
    <table class="table" id="videos">
        <thead>
            <tr>
                <th>Title</th>
                <th>Creator</th>
                <th>Cover</th>
                <th>Description</th>
                <th>Upload Date</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        

    </table>
</div>







<!-- Tag Modal -->
<div id="tag-modal-video" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Tag</h4>
            </div>
            <div class="modal-body tag-modal-video">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Review Modal -->
<div id="review-modal-video" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Comment</h4>
            </div>
            <div class="modal-body review-modal-video">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div id="delete-modal-video" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
            </div>
            <div class="modal-body delete-modal-video">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div id="edit-modal-video" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body edit-modal-video">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Details Modal -->
<div id="details-modal-video" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body details-modal-video">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>





@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#videos").DataTable({
                ajax: {
                    url: "/api/Video/all",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "title",
                        render: function (data, type, video) {
                            return "<a href='/videos/_edit/" + video.id + "'>" + video.title + "</a>";
                        }
                    },
                    {
                        data: "creator",
                        render: function (data, type, video) {
                            var fullName = "";
                            getUserByIdSync(video.creatorId, function (creator) {
                                fullName = creator.fullName;
                            });
                            return "<a>" + fullName + "</a>";
                        }
                    },
                    {
                        data: "Cover Photo",
                        render: function (data, type, video) {
                            return `<img alt="Cover Foto" src="${video.videoImagePath}" style="height: 77px;"/>`;
                        }
                    },
                    {
                        data: "Decription",
                        render: function (data, type, video) {
                            return `<a>${video.description}</a>`;
                        }
                    },
                    {
                        data: "UplaodDate",
                        render: function (data, type, video) {
                            return `<a>${video.uploadDate}</a>`;
                        }
                    },
                    {
                        data: "Rating",
                        render: function (data, type, video) {
                            return `
                                <form id="video-rating-form" method="post" action="/Videos/AddRate">
                                    <input name="rate"
                                           class="rating rating-loading rate"
                                           data-min="0"
                                           data-max="5"
                                           data-step="0.1"
                                           value="${video.ratingsAVG}">
                                    <input type="submit" value="Submit" />
                                </form>
                            `;
                        }
                    },
                    {
                        data: "Buttons",
                        render: function (data, type, video) {
                            return `
                                <button type="button" id="tag-modal-button-video" class="btn btn-dark tag-modal-button-video" data-toggle="modal" data-target="#tag-modal-video" data-id="${video.id}">Tag</button>
                                <button type="button" id="comment-modal-button-video" class="btn btn-primary comment-modal-button-video" data-toggle="modal" data-target="#review-modal-video" data-id="${video.id}">Comment</button>
                                <button type="button" id="details-modal-button-video" class="btn btn-info details-modal-button-video" data-toggle="modal" data-target="#details-modal-video" data-id="${video.id}">Details</button>
                                <button type="button" id="edit-modal-button-video" class="btn btn-success edit-modal-button-video" data-toggle="modal" data-target="#edit-modal-video" data-id="${video.id}">Edit</button>
                                <button type="button" id="delete-modal-button-video" class="btn btn-danger btn-delete delete-modal-button-video" data-toggle="modal" data-target="#delete-modal-video" data-id="${video.id}">Delete</button>
                            `;
                        }
                    }
                ],
                createdRow: function (row, data, dataIndex) {

                    // any manipulation in the row element
                    var ratingInput = $(row).find('.rating');
                    $(ratingInput).rating();

                }
            });
        });
    </script>

    <script src="~/Scripts/Ratting.js"></script>
}