@model IEnumerable<CBProject.Models.ViewModels.ApplicationUserViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid text-center">
    <h2>Users</h2>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="table-responsive">
    <table class="table" id="users">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>FullName</th>
                <th>BirthDate</th>
                <th>Email</th>
                <th>Password</th>
                <th>PhoneNumber</th>
                <th>NewsletterAcception</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>









@section scripts{
    <script>
        $(document).ready(function () {

            // Get Logged User and hes SubscriptionPakage
            var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
            var loggedUser = null;
            if (userAuthorized) {
                getLogedUserSync(function (user) {
                    loggedUser = user;
                });
            }

            var table = $("#users").DataTable({
                ajax: {
                    url: `/api/User/all`,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "ID",
                        render: function (data, type, user) {
                            console.log(user);
                            return "<a href='/Users/Details/" + user.id + "'>" + user.id + "</a>";
                        }
                    },
                    {
                        data: "Image",
                        render: function (data, type, user) {
                            if (user.imagePath !== null && user.imagePath.length > 0) {
                                return `<a href="/Users/Details/${user.id}" ><img alt="User Photo" src="${user.imagePath}" style="height: 77px;"/></a>`;
                            } else {
                                return `<a href="/Users/Details/${user.id}" ><img alt="User Photo" src="/assets/images/icons/icons-person.png" style="height: 77px;"/></a>`;
                            }
                        }
                    },
                    {
                        data: "FullName",
                        render: function (data, type, user) {
                            return "<a>" + user.fullName + "</a>";
                        }
                    },
                    {
                        data: "BirthDate",
                        render: function (data, type, user) {
                            return "<a>" + user.birthDate.split("T")[0] + "</a>";
                        }
                    },
                    {
                        data: "Email",
                        render: function (data, type, user) {
                            return "<a>" + user.email + "</a>";
                        }
                    },
                    {
                        data: "Password",
                        render: function (data, type, user) {
                            return "<a>" + user.password + "</a>";
                        }
                    },
                    {
                        data: "PhoneNumber",
                        render: function (data, type, user) {
                            return "<a>" + user.phoneNumber + "</a>";
                        }
                    },
                    {
                        data: "NewsletterAcception",
                        render: function (data, type, user) {
                            return `<input name="isActive" type="checkbox" value="${user.newsletterAcception}" disabled/>`;
                        }
                    },
                    {
                        data: "",
                        render: function (data, type, user) {
                            return `
                                    <a href="/Users/Edit/${user.id}">Edit</a> | 
                                    <a href="/Users/Details/${user.id}">Details</a> |
                                    <a href="/Users/Delete/${user.id}">Delete</a>
                            `;
                        }
                    }
                ],
                createdRow: function (row, data, dataIndex) {

                }
            });
        });
    </script>

    <script src="~/Scripts/Ratting.js"></script>
}












